body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}


.range-labels {
    margin-top: -10px;
}

.range-labels span {
    font-size: 0.8em;
    width: 10%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.range-labels span::before {
    content: '';
    height: 10px;
    width: 1px;
    background: #000;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
